# Default Homebrew MySQL server config
[mysqld]
# Only allow connections from localhost
bind-address = 0.0.0.0
log-bin=mysql-bin
server-id=1
tls_version=TLSv1.2

# binlog
binlog_format = row
max-binlog-size=40960000

# GTID
gtid_mode=on
enforce_gtid_consistency=on